*.yourmom    linguist-language=yourmom                                                                                                                                                                        
*.momjoke    linguist-language=yourmom                                                                                                                                                                        
*.yourdad    linguist-language=yourmom   
